.about-company .company-title{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 20px;
}
.about-company .company-title .title-text{
    font-size: 36px;
    line-height: 58px;
    color: #2B2A28; 
}
